/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/outfit-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted #c4f82a;
  outline-offset: 4px;
}

img {
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(213, 225, 239, 1);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 21px;
  padding: 24px;
}

.card {
  background-color:#ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
}

.card__image {
  border-radius: ;
  top:168px ;
  left:576px ;
}


.card__title {
  font-family:"Outfit",sans-serif ;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  width: 288px;
  height: 129px;
  left: 576px;
}

.card-title__text {
  font-family:"Outfit",sans-serif ;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  width: 288px;
  height: 129px;
  left: 576px;
  letter-spacing: 0.19px;
}


